.footer {
  padding: 12.8rem 0;
  border-top: 1px solid var(--gray-100);
}

.footer .grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  --social-icon: 2.4rem;
  width: var(--social-icon);
  height: var(--social-icon);
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: var(--gray-400);
  transition: color 200ms;
}

.footer-link:hover,
.footer-link:active {
  color: var(--gray-600);
}

.copyright {
  font-size: 1.4rem;
  color: var(--gray-400);
  margin-top: auto;
}

.footer-heading {
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts p {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
