.section-hero {
  background-color: var(--light-200);
  padding: 4.8rem 0 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero .heading-primary {
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: var(--line-height-paragraph);
  margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
}

.hero-buttons-cta {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  --delivered-img-size: 4.8rem;
  width: var(--delivered-img-size);
  height: var(--delivered-img-size);
  border-radius: 50%;
  border: 3px solid var(--light-200);
}

.delivered-imgs img:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-text {
  color: var(--gray-600);
  font-weight: 600;
}

.delivered-text strong {
  color: var(--dark-300);
  font-weight: 700;
}

.hero-img-box .hero-img {
  display: block;
}
