.section-featured {
  padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
  color: var(--gray-300);
  font-size: 1.4rem;
  font-weight: 500;

  text-transform: uppercase;
  text-align: center;

  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.section-featured .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-featured .logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
