.section-how {
  padding: 9.6rem 0;
}

.how {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.step {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "text-box img-box";
  gap: 9.6rem;
}

.step--reverse > .step-text-box {
  grid-area: img-box;
}

.step--reverse > .step-img-box {
  grid-area: text-box;
}

.step-text-box {
  grid-area: text-box;
}

.step-number {
  display: block;
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--gray-200);
  margin-bottom: 1.2rem;
}

.step-description {
  line-height: var(--line-height-large);
}

.step-img-box {
  grid-area: img-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before {
  background-color: var(--light-200);
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--light-300);
  z-index: -1;
}

.step-img-box::after,
.step-img-box::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 50%;
}

.step-img {
  width: 37%;
}
